@import url('https://api.fontshare.com/v2/css?f[]=anton@400&display=swap');

@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #F4F4F4;
  --secondary: #221D1D;
  --accent: #703EFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #F4F4F4;
  --color-secondary: #221D1D;
  --color-accent: #703EFF;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-fatkat: var(--font-fatkat);
  --font-proxima: var(--font-proxima);
  --font-anton: 'Anton', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #F4F4F4;
    --secondary: #221D1D;
    --accent: #703EFF;
  }
}

body {
  background: var(--primary);
  color: var(--secondary);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
